<app-header></app-header>
<div class="container">
  <div *ngFor="let video of videos">
    <h3>{{ video.title }}</h3>
    <div class="video-container">
      <iframe
        [src]="getVideoUrl(video.classVideo)"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    <div class="content-below-video">
      <div *ngIf="video.exercises" class="exercise-container">
        <div *ngFor="let exercise of video.exercises">
          <p>{{ exercise.exercise }}</p>

          <!-- Campo de input para respostas -->
          <input [(ngModel)]="exercise.userAnswer" placeholder="Digite sua resposta aqui" />

          <!-- Botão para revelar resposta -->
          <button (click)="exercise.showAnswer = !exercise.showAnswer">
            {{ exercise.showAnswer ? 'Ocultar Resposta' : 'Revelar Resposta' }}
          </button>

          <!-- Exibição da resposta -->
          <p *ngIf="exercise.showAnswer">{{ exercise.answer }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
