ion-card{
  align-items: center;
  display: flex;
  gap: 14px;
  flex-direction: column;
  width: max-content;
}

ion-card-content{
  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

a{
  border-radius: 5%;
  width: 100%;
}

ion-button{
  width: 100%;
  align-items: center;
  justify-content: center;
}
