<ion-card>
  <ion-card-header>
    <ion-card-title>Welcome</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-input
      label="Email:"
      label-placement="floating"
      fill="outline"
      type="email"
      placeholder="email@email.com"
      [(ngModel)]="email"
      required
      #emailInput="ngModel"
    ></ion-input>
    <ion-button (click)="checkEmail()">Check email</ion-button>
    <p *ngIf="showInvalidEmailMsg">Invalid email or not registered</p>
  </ion-card-content>
</ion-card>
